.table{
    border: 3px solid #000;
    border-collapse: collapse;
    width: 80%;
    border: 3px solid black;
    margin: 0px 0px 0px 260px;
}
.table-th{
    /* background-color: rgb(104, 104, 177); */
    border: none;
    font-weight: auto;
    font-size: 30px;
    font-family: "Script MT Bold", "Lucida Handwriting", "Comic Sans MS", cursive;
    color: rgb(93, 59, 172);
    cursor: pointer;
}

.table-th:hover{
    background-color: rgb(196, 180, 252);
}

.Aurchey{
    transform: scaleX(-1);
    width: 449px;
    height: 590px;
}

#Name{
    font-family: "Script MT Bold", "Lucida Handwriting", "Comic Sans MS", cursive;
    font-size: 50px;
    color: rgb(39, 39, 112);
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-delay: 12ms;

}

@keyframes fadein{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1.5;
    }
}

hr{
    border: 1px solid rgb(39, 39, 112);
}

.Linkedin{
    padding-left: 50px;
    padding-right: 30px;
    height: 40px;
    width: 40px;
}

.Facebook{
    padding-left: 30px;
    padding-right: 50px;
    height: 40px;
    width: 60px;
}

.Descriptiion{
    font-size: 30px;
    margin: 2px 0px 0px 0px;;    
}


.copyright{
    font-size: 20px;
    /* text-align: center; */
    margin: 160px 0px 0px 600px;
    
    /* border: 1px solid rgb(39, 39, 112);  */
}
.copyrightinAwards{
    font-size: 20px;
    /* text-align: center; */
    margin: 250px 0px 0px 600px;
}

.AwardImage{
    padding-left: 550px;
    padding-right: 100px;
    padding-top: 100px;
    height: 150px;
    width: 200px;
}

.Award{
    text-align: center;
}

.Hobby{
    padding-left: 550px;
    padding-right: 100px;
    padding-top: 30px;
    height: 190px;
    width: 200px;
}

.Hobbies{
    font-family: 'Lucida Sans', cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(97, 118, 187);
}

.HobbyList{
    font-size: 20px;
    color: rgb(64, 84, 202);
}
